<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordTrainer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2BACFEB2542C58700AF003F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2BAD0042542C58900AF003F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2BAD00F2542C58900AF003F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
